<a href="https://colab.research.google.com/github/abhishekkshk68/Applied-Machine_Learning/blob/master/Basic_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
'''Step 1 
1)  Linear Regression (Step 3)
2) mean Squared error (Evaluation Step 5)
3) Called the inbulit data set in Sklearn (Step 2)
4) Step 2 Pandas to read file 
5) step 2 model selection breaking down set (70 30)  

#Code is written by Abhishek Kaushik for the Educational purpose 
'''

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.datasets import load_boston
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as abhi

<H1> Step 2 Defining your data set </H1>

In [37]:
dataset = load_boston()

# boston_dataset is a dictionary
# let's check what it contains
dataset.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [38]:
#Pandas 
data = pd.DataFrame(dataset.data, columns=dataset.feature_names)
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [39]:
data['Label'] = dataset.target

In [40]:
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Label
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [41]:
Overall_features=data.values[:,0:13]
Overall_label=data.values[:,13]

In [49]:
#trainf training feature
#testf testing feature 
#trainl=traiing labels 
#testl= Gold fata testing table used for comparsion with predicted value.  

trainf,testf,trainl,testl=train_test_split(Overall_features,Overall_label,test_size=.30,random_state=15)
trainfc,testfc,trainlc,testlc=train_test_split(Overall_features,Overall_label,test_size=.30,random_state=30)

print(len(trainf))
print(len(testf))
print(len(trainl))
print(len(testl))

354
152
354
152

<H1> Fitting the modal </H>

In [61]:
obj=LinearRegression()
obj.fit(trainf,trainl)

Obj2=LinearRegression()
Obj2.fit(trainfc,trainlc)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

<H1> Prediction </H1>

```
# This is formatted as code
```

In [64]:
results=obj.predict(testf)
resultsc=Obj2.predict(testfc)
print(len(testf))
print(len(testl))
print(len(results))

152
152
152

<h1> Step5 Evaluating  your modal</h1>

In [65]:
#abhi.scatter(testf,testl)
error=mean_squared_error(testl,results)
error2=mean_squared_error(testlc,resultsc)

In [66]:
print(error)
print(error2)

27.5810143181054
21.90022422345864