<a href="https://colab.research.google.com/github/abhishekkshk68/Applied-Machine_Learning/blob/master/Basic_Classification_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
'''Step 1 
1) Classification (Step 3)
2) Accuracy (Evaluation Step 5)
3) Called the inbulit data set in Sklearn (Step 2)
4) Step 2 Pandas to read file 
5) step 2 model selection breaking down set (70 30)  

#Code is written by Abhishek Kaushik for the Educational purpose 
'''

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd 
from sklearn.model_selection import train_test_split

<H1> Step 2 Defining your data set </H1>

In [73]:
col_names=['preg','plas','pres','skin','test','mass','pedi','age','class']
dataset = pd.read_csv('data.csv', names=col_names)



dataset.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [85]:
#Pandas 

Features=dataset.values[:,0:8]
Labels=dataset.values[:,8]
TrainFea,TestFeau,Trainlabel,Testlabel=train_test_split(Features,Labels,test_size=0.20,random_state=15)
RTrainFea,RTestFeau,RTrainlabel,RTestlabel=train_test_split(Features,Labels,test_size=0.30,random_state=30)

<H1> Fitting the modal </H>

In [86]:
obj=DecisionTreeClassifier()
obj2=DecisionTreeClassifier()
obj.fit(TrainFea,Trainlabel)
obj2.fit(RTrainFea,RTrainlabel)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

<H1> Prediction </H1>

```
# This is formatted as code
```

In [87]:
results=obj.predict(TestFeau)
resultsR=obj2.predict(RTestFeau)

<h1> Step5 Evaluating  your modal</h1>

In [88]:
#abhi.scatter(testf,testl)
acc=accuracy_score(Testlabel,results)
accR=accuracy_score(RTestlabel,resultsR)

In [89]:
print(acc*100)
print(accR*100)

69.48051948051948
74.02597402597402